{% if canonical_url contains 'type=article' %}
     {% render 'blog-search-result' %}
{% else %}
    <h1>{{ collection.title }}</h1>
    <div class="rte">
        {% section 'template-search-results-type-filter' %}
    </div>
{% endif %}